@charset "UTF-8";
/* line 1, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/style.sass */
* {
  font-family: 'Roboto', sans-serif;
}

/* line 1, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
header {
  position: relative;
  height: 50px;
}

/* line 5, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 5;
}

/* line 12, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.hamburger {
  display: none;
}

/* line 15, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

/* line 21, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}

/* line 27, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.menu_link:hover {
  text-decoration: none;
  color: #1eacc7;
}

/* line 30, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

/* line 33, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.menu_item:last-child {
  border-right: none;
}

/* line 36, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 42, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

/* line 46, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

/* line 52, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.subheader_call {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}

/* line 58, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.subheader_phone {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}

/* line 67, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 2, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_mixins.sass */
.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

/* line 82, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.promo {
  min-height: 800px;
  background: url("../img/1_uber_bg.png") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

/* line 86, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.promo_header {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

/* line 94, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.promo_subheader {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}

/* line 103, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.promo_descr {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

/* line 110, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 2, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_mixins.sass */
.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

/* line 126, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.reasons {
  padding: 71px 0 65px 0;
}

/* line 128, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.reasons_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

/* line 133, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.reasons_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

/* line 142, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.reasons_descr {
  width: 343px;
}

/* line 144, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.reasons_subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

/* line 149, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.reasons_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

/* line 155, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.label {
  position: relative;
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

/* line 168, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.label_white {
  background-color: #fff;
  color: #000;
}

/* line 171, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.label_min {
  width: 76px;
}

/* line 174, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.title {
  position: relative;
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

/* line 185, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.title_white {
  color: #fff;
}

/* line 188, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.subtitle {
  position: relative;
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  z-index: 2;
}

/* line 196, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.subtitle_white {
  color: #fff;
}

/* line 199, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background-color: #d2edcd;
}

/* line 203, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.mobile .row {
  margin-top: 32px;
}

/* line 205, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

/* line 212, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.mobile_item_1 {
  background: url("../icons/1_card.png") center center/cover no-repeat;
}

/* line 214, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.mobile_item_2 {
  background: url("../icons/2_card.png") center center/cover no-repeat;
}

/* line 216, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.mobile_item_3 {
  background: url("../icons/3_card.png") center center/cover no-repeat;
}

/* line 218, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.mobile_item_4 {
  background: url("../icons/4_card.png") center center/cover no-repeat;
}

/* line 220, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.mobile_item_5 {
  background: url("../icons/5_card.png") center center/cover no-repeat;
}

/* line 222, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.mobile_item_6 {
  background: url("../icons/6_card.png") center center/cover no-repeat;
}

/* line 224, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.mobile_item_subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
  text-align: center;
}

/* line 231, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.mobile_item_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}

/* line 245, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.mobile_item_plus:before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  transition: 0.3s all;
}

/* line 252, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.mobile_item_plus:after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1eacc7;
  transition: 0.3s all;
}

/* line 263, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #ff5656;
}

/* line 266, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.choice {
  position: relative;
  min-height: 895px;
  padding: 57px 0 138px 0;
}

/* line 270, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.choice_img {
  position: relative;
  display: block;
  margin: 56px auto 0 auto;
  z-index: 2;
}

/* line 275, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.choice_descr {
  text-align: center;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}

/* line 281, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.choice .black {
  position: absolute;
  top: 0;
  left: 0;
  height: 499px;
  width: 100%;
  background-color: #1f1f22;
  z-index: 1;
}

/* line 290, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.require {
  padding: 68px 0 84px 0;
}

/* line 292, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.require_block {
  margin: 33px 0;
}

/* line 294, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.require_block_nmb {
  margin-bottom: 0px;
}

/* line 296, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.require_title {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
}

/* line 300, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}

/* line 304, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.require_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}

/* line 310, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.require_list li::before {
  content: '';
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  vertical-align: middle;
  transform: translate(-5px, -2px);
  width: 21px;
  height: 20px;
  background: url("../icons/blue_ok.png") center center/cover no-repeat;
}

/* line 321, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.require_descr {
  margin-top: 25px;
  font-size: 17px;
  font-weight: 300;
  line-height: s24px;
  color: #1ca8c3;
}

/* line 328, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.require .warning .require_title {
  color: #ff5656;
}

/* line 332, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.require .warning .require_list li::before {
  background: url("../icons/red_ok.png") center center/cover no-repeat;
}

/* line 335, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.world {
  position: relative;
  min-height: 720px;
  background-color: #080816;
  background: url("../img/3_bg_last.png") center center/cover no-repeat;
  padding: 49px 0;
}

/* line 341, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.world a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 49px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 68px;
  text-transform: uppercase;
  color: #1fbad6;
  text-decoration: none;
}

/* line 353, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.world a:hover {
  color: #fff;
}

/* line 356, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
footer {
  padding: 14px 23px 39px 23px;
}

/* line 359, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
footer a:hover {
  text-decoration: none;
}

/* line 364, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.footer_divider {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}

/* line 369, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
}

/* line 374, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.footer_wrapper > div {
  width: 33%;
}

/* line 376, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.footer_wrapper > div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}

/* line 379, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.footer_social {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

/* line 383, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.footer_social_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
  color: #ffffff;
}

/* line 395, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.footer_links {
  width: 390px;
  margin: 0 auto;
}

/* line 398, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.footer_links_main {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

/* line 402, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.footer_links_main a {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 407, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.footer_links_sub {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* line 411, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.footer_links_sub a {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 416, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.footer_links_lang {
  display: block;
  margin: 0 auto;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  margin-top: 19px;
  text-transform: uppercase;
  text-align: center;
}

/* line 425, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_general.sass */
.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  /* line 3, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .menu_item {
    padding-right: 20px;
  }
  /* line 5, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .menu_link {
    font-size: 13px;
  }
  /* line 8, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .promo_header {
    font-size: 50px;
  }
  /* line 11, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .reasons_block {
    align-items: flex-start;
  }
  /* line 13, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .reasons_descr {
    width: 300px;
  }
  /* line 17, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .mobile_item {
    width: 290px;
  }
  /* line 19, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .mobile_item_subtitle {
    font-size: 22px;
  }
  /* line 21, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .choice {
    padding: 55px 0;
    min-height: 840px;
  }
  /* line 25, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .require br {
    display: none;
  }
  /* line 28, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .footer_wrapper > div {
    width: 50%;
  }
  /* line 30, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .footer_wrapper > div:nth-child(1) {
    width: 25%;
  }
  /* line 32, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .footer_wrapper > div:nth-child(3) {
    width: 25%;
    display: flex;
    justify-content: flex-end;
  }
  /* line 36, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .footer_mobile {
    display: flex;
  }
  /* line 38, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .footer_mobile a {
    margin: 0 3px;
  }
  /* line 40, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .footer_mobile a img {
    width: 100%;
  }
}

@media (max-width: 991px) {
  /* line 44, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .title {
    font-size: 28px;
  }
  /* line 47, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .menu_item {
    padding-right: 8px;
  }
  /* line 49, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .menu_link {
    font-size: 10px;
  }
  /* line 53, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .subheader_logo img {
    width: 100%;
  }
  /* line 55, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .subheader_official {
    font-size: 11px;
  }
  /* line 57, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .subheader_phone {
    font-size: 18px;
  }
  /* line 59, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .subheader_btn {
    margin-top: 21px;
    height: 40px;
    width: 100%;
  }
  /* line 64, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .promo_header {
    font-size: 40px;
  }
  /* line 66, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .promo_subheader {
    font-size: 30px;
  }
  /* line 69, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .reasons_block {
    flex-direction: column;
    align-items: center;
  }
  /* line 72, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .reasons_round {
    margin-right: 0;
  }
  /* line 74, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .reasons_descr {
    width: 300px;
    margin-top: 20px;
  }
  /* line 77, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .choice {
    min-height: 800px;
  }
  /* line 79, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .choice_img {
    width: 100%;
  }
  /* line 81, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .world {
    min-height: 650px;
  }
  /* line 84, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .footer_wrapper {
    flex-wrap: wrap;
  }
  /* line 86, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .footer_wrapper > div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  /* line 91, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .footer_wrapper > div:nth-child(1) {
    width: 100%;
  }
  /* line 93, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .footer_wrapper > div:nth-child(3) {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 991px) and (max-width: 767px) {
  /* line 98, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
  }
  /* line 110, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .menu_active {
    left: 0;
  }
  /* line 112, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px;
  }
  /* line 116, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .menu_link {
    font-size: 20px;
    text-decoration: none;
  }
  /* line 119, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  /* line 127, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    transition: 0.4s all;
  }
  /* line 135, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .hamburger_active span {
    margin-bottom: -2px;
  }
  /* line 137, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  /* line 139, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  /* line 141, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  /* line 143, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .xs-hidden {
    display: none;
  }
  /* line 145, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .xs-visible {
    display: block;
  }
  /* line 148, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .subheader_phone {
    display: block;
    margin-top: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  /* line 156, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .subheader_btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
  }
  /* line 163, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .promo_header {
    line-height: 45px;
  }
}

@media (max-width: 575px) {
  /* line 167, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  nav {
    height: 30px;
  }
  /* line 169, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  header {
    height: 30px;
  }
  /* line 171, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .title {
    font-size: 16px;
    margin-top: 15px;
    line-height: 16px;
  }
  /* line 175, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .subtitle {
    font-size: 14px;
    line-height: 21px;
    margin-top: 11px;
  }
  /* line 179, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .subheader {
    height: 60px;
    top: 30px;
  }
  /* line 182, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .subheader_official {
    display: none;
  }
  /* line 184, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .subheader_logo {
    margin-top: 16px;
  }
  /* line 186, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .subheader_phone {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 11px;
  }
  /* line 191, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .subheader_btn {
    width: 110px;
    height: 22px;
    font-size: 10px;
    margin-top: 6px;
  }
  /* line 196, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .subheader_btn:hover {
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  }
  /* line 198, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .promo {
    min-height: 400px;
    padding: 93px 0 35px 0;
  }
  /* line 201, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .promo_descr {
    display: none;
  }
  /* line 203, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .promo_header {
    font-size: 30px;
    padding: 0 24px;
    line-height: 35px;
  }
  /* line 207, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .promo_subheader {
    font-size: 20px;
    margin-top: 33px;
    padding: 0 10px;
    line-height: 30px;
  }
  /* line 212, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .promo_btn {
    width: 210px;
    height: 50px;
    margin-top: 72px;
    font-size: 16px;
  }
  /* line 217, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .promo_btn:hover {
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  }
  /* line 219, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .menu {
    width: 85%;
  }
  /* line 221, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .menu_item {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  /* line 225, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .menu_link {
    display: block;
  }
  /* line 230, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .hamburger_active span:nth-child(1) {
    transform: translateY(5px) rotate(-45deg);
  }
  /* line 232, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .hamburger_active span:nth-child(3) {
    transform: translateY(5px) rotate(45deg);
  }
  /* line 234, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .reasons {
    padding: 22px 0 36px 0;
  }
  /* line 236, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .reasons_block {
    margin-top: 26px;
  }
  /* line 238, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .reasons_round {
    width: 100px;
    height: 100px;
  }
  /* line 241, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .reasons_descr {
    width: 100%;
    margin-top: 27px;
  }
  /* line 244, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .reasons_subtitle {
    font-size: 16px;
  }
  /* line 246, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .reasons_text {
    margin-top: 0;
  }
  /* line 248, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .title {
    font-size: 16px;
    margin-top: 15px;
    line-height: 16px;
  }
  /* line 252, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .mobile {
    padding: 20px 0 40px 0;
  }
  /* line 254, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .mobile .row {
    margin-top: 15px;
  }
  /* line 256, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .mobile_item {
    height: 254px;
    padding: 81px 40px 0 40px;
  }
  /* line 259, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .mobile_item_subtitle {
    font-size: 18px;
    line-height: 31px;
  }
  /* line 262, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .mobile_item_plus {
    bottom: 28px;
  }
  /* line 265, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
    background-color: #1eacc7;
  }
  /* line 267, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .choice {
    padding: 25px 0 33px 0;
    min-height: 390px;
    background: #000;
  }
  /* line 271, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .choice_img {
    margin-top: 35px;
  }
  /* line 273, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .choice_descr {
    margin-top: 23px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
  }
  /* line 279, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .choice .black {
    display: none;
  }
  /* line 281, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
  .hidden-320 {
    display: none;
  }
}

/* line 284, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
.require {
  padding: 25px;
}

/* line 286, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
.require_block {
  margin: 30px 0 0 0;
}

/* line 288, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
.require_block_title {
  font-size: 16px;
}

/* line 290, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
.require_block_list {
  padding-left: 30px;
  margin-top: 5px;
}

/* line 293, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
.require_block_list li {
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 20px;
}

/* line 297, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
.require_block_descr {
  font-size: 14px;
  margin-top: 15px;
}

/* line 301, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
.world {
  padding: 26px 0 30px 0;
  min-height: 360px;
}

/* line 304, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
.world a {
  display: block;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
}

/* line 310, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
footer {
  padding: 25px 0 20px 0;
}

/* line 313, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
.footer_divider {
  width: 255px;
  height: 6px;
}

/* line 316, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
.footer_wrapper {
  padding-top: 22px;
}

/* line 318, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
.footer_wrapper_wrapper > div {
  margin-bottom: 20px;
}

/* line 320, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
.footer_wrapper_wrapper > div:nth-child(1) {
  order: 2;
}

/* line 322, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
.footer_wrapper_wrapper > div:nth-child(2) {
  order: 1;
}

/* line 324, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
.footer_wrapper_wrapper > div:nth-child(3) {
  order: 3;
}

/* line 326, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
.footer_wrapper_links {
  width: 290px;
}

/* line 328, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
.footer_wrapper_links_main {
  padding: 0;
  font-size: 14px;
}

/* line 331, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
.footer_wrapper_links_sub {
  flex-wrap: wrap;
  justify-content: center;
}

/* line 334, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
.footer_wrapper_links_sub a {
  margin: 0 7px;
}

/* line 336, ../../../OneDrive/Рабочий стол/web/1_6_Uber/src/sass/_media.sass */
.footer_wrapper_links_lang {
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */